<!DOCTYPE html>
<html>
<head>
    <title>Edit Supplier</title>
</head>
<body>

<h1>Edit Supplier</h1>

<form method="POST">

    <label>Name</label><br>
    <input type="text"
           name="name"
           value="{{ supplier.name }}"
           required><br><br>

    <label>Mobile</label><br>
    <input type="text"
           name="mobile"
           value="{{ supplier.mobile }}"><br><br>

    <label>Email</label><br>
    <input type="email"
           name="email"
           value="{{ supplier.email }}"><br><br>

    <label>Address</label><br>
    <textarea name="address">{{ supplier.address }}</textarea><br><br>

    <button type="submit">Update Supplier</button>

</form>

<br>

<a href="/suppliers">Back to Supplier List</a>

</body>
</html>